<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"type="text/javascript" charset="utf-8"></script>
  <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
  <link rel="stylesheet" type="text/css"href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
  </head>
  <body style='margin: 0'>
  <div style="width: 100vw; height: 100vh" id="mapContainer"></div>
  <script>

  // Initialize the platform object:
  var platform = new H.service.Platform({
  'apikey': '{{apikey}}'
  });
    
  // Obtain the default map types from the platform object   
  var defaultLayers = platform.createDefaultLayers();

  // Assign our data to vars
  const lats = {{gps_data[0]}};
  const longs = {{gps_data[1]}};
  const average_speed = {{gps_data[2]}};

  // Assign plotting data
  const seg_speeds = {{segment_speeds}};

  // Are we using marker data
  const markers = {{use_markers}};
  console.log(markers)

  // Instantiate (and display) a map object:
  var map = new H.Map(
      document.getElementById('mapContainer'),
      defaultLayers.vector.normal.map,
      {
        zoom: 11,
      });

  console.log(lats)
  console.log(longs)

  // create the linestring for our passed array(s)
  var linestring = new H.geo.LineString();
  lats.forEach(function(lat, index) {
    linestring.pushPoint({lat: lat, lng: longs[index]})
  });

  // Initialize a polyline with the linestring:
  var polyline = new H.map.Polyline(linestring, { style: { lineWidth: 8 }});

  // Add the polyline to the map:
  map.addObject(polyline);

  // Zoom the map to fit the rectangle:
  map.getViewModel().setLookAtData({bounds: polyline.getBoundingBox()});
  
  var ui = H.ui.UI.createDefault(map, defaultLayers, 'en-US');

  speed_string = "Average speed over trace: "
  final_speed_string = speed_string.concat(" ", String(average_speed), "km/h")
  var bubble = new H.ui.InfoBubble({ lng: longs[longs.length-1] , lat: lats[lats.length-1] }, {
                content: final_speed_string
             });

  // Add info bubble to the UI:
  ui.addBubble(bubble);
  </script>
  <div id="plotly_chart" style="width:100%;height:500px;"></div>
  <script>
    if (markers == 1){
      // Add markers
      const marker_lats = {{marker_data[0]}}
      const marker_longs = {{marker_data[1]}}
      console.log(marker_lats)
      console.log(marker_longs)

      marker_lats.forEach(function(marker_lat, index) {
        const marker = new H.map.Marker({lat: marker_lat, lng: marker_longs[index]});
        map.addObject(marker);
      });

      // assign data for plot
      var trace = [{
      y: seg_speeds,
      mode: 'lines+markers',
      }];

      // define define
      var layout = {
      title:'Avg. speed per marker segment',
      xaxis: {
        title: 'Marker segments'
        },
      yaxis: {
        title: 'Avg. speed in km/h'
        },
      annotations: [
          {
            x: 0,
            y: 0,
            xref: 'x',
            yref: 'y',
            text: final_speed_string,
            showarrow: true,
            font: {
              family: 'Courier New, monospace',
              size: 16,
              color: '#ffffff'
            },
            align: 'right',
            arrowhead: 0,
            arrowsize: 0,
            arrowwidth: 0,
            arrowcolor: '#ffffffff',
            ax: 200,
            ay: -20,
            bordercolor: '#c7c7c7',
            borderwidth: 2,
            borderpad: 4,
            bgcolor: '#ff7f0e',
            opacity: 0.8
          }
        ]
      };

      PLOT = document.getElementById('plotly_chart');
      Plotly.newPlot( PLOT, trace, layout);
  }
  </script>
  </body>
</html>